.div-1 {
  width: 140px;
  height: 80px;
  border-radius: 10px;
  background-color: red;
}

.div-2 {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background-color: blue;
}

.div-3 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: green;
}

.element {
  width: 350px;
  height: 220px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-bottom: 30px;
  border-style: dashed;
  border-color: red;
  border-radius: 2px;
  background-color: green;
}
